@import "bootstrap-sprockets";
@import "bootstrap";

html{
  height: 100%;
}

body {
  height: 100%;
  padding-top: 60px;
  background: image-url('03.jpg')
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}
 
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.main_container{
  width: 100%;
  height: 80%;
  display: table;
}

.top_logo{
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Sacramento', cursive;
  display: table-cell;
  vertical-align: middle;
}